<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  
  <servlet>
    <servlet-name>usersServlet</servlet-name>
    <servlet-class>kakb.server.UsersServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>usersServlet</servlet-name>
    <url-pattern>/knowallkb/users</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>quanceptsServlet</servlet-name>
    <servlet-class>kakb.server.QuanceptsServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>quanceptsServlet</servlet-name>
    <url-pattern>/knowallkb/quancepts</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>KnowAllKB.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  
   	<!-- Require User to be logged in -->

	<security-constraint>
		<web-resource-collection>
			<web-resource-name/>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>